.about-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 140px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 128px;
    position: relative;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 522px;
    margin: 0;
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    max-width: 522px;
  }
}

.about-text-span {
  font-weight: 700;
}

.about-stars-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
  }
}
