.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-subtitle {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff4e6;
  text-align: center;
  margin-bottom: 14px;

  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff4e6;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 28px;
  }
}

.contact-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff4e6;

  @include media(desktop) {
  }
}
