.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 130px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  @include media(desktop) {
    position: relative;
  }
}

.features-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  color: #fff4e6;
  margin-bottom: 20px;

  @include media(desktop) {
    max-width: 846px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
}

.features-list-item {
  background: #663a28;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 305px;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff4e6;

  @include media(desktop) {
  }
}

.features-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 44px;
    right: 19px;
  }
}
