.gallery-section {
  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 140px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
    padding: 0;
  }
}

.gallery-title {
  @include media(desktop) {
    margin-bottom: 91px;
  }
}

.gallery-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
    align-items: center;
  }
}

.gallery-slide {
  width: 100%;
  max-width: 335px;

  @include media(desktop) {
    max-width: 426px;
    transition:
      width 0.3s ease-in-out,
      height 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      margin 0.3s ease-in-out;
  }
}

.gallery-slide.swiper-slide-active {
  @include media(desktop) {
    max-width: 630px;
    max-width: fit-content;
    transform: scale(1.48) !important;
    z-index: 1;
    margin-left: 102px;
    margin-right: 122px !important;
  }
}

.gallery-img {
  @include media(desktop) {
  }
}

.gallery-controls {
  @include media(desktop) {
    margin-top: 89px;
  }
}
