.gallery-section {
  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 130px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 335px;

  @include media(desktop) {
    max-width: 413px;
  }
}

.gallery-img {
  @include media(desktop) {
  }
}
