.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 68px;
  padding-bottom: 93px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 214px;
    padding-bottom: 110px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-position: bottom center;
    background-size: contain;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 480px;
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 254px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.hero-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  color: #fff4e6;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 46px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
