.hero-section {
  @include media(desktop) {
    background: linear-gradient(1deg, #ebedd8 0%, #89d3f0 100%);
    box-shadow: 0 6px 10px 0 rgba(1, 11, 65, 0.1);
  }
}

.hero-bg-wrapper {
  padding-top: 492px;
  padding-bottom: 54px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 238px;
    padding-bottom: 229px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 49px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
