.privacy-body {
  .header {
    background: #e6ecd9;
  }

  .header-bg-wrapper {
    background-image: none;
  }

  .header-context {
    background: transparent;
  }

  .menu-icon {
    fill: #fe7e17;
  }
}

.policy-section {
  background: linear-gradient(180deg, #e6ecd9 0%, #8ed5ef 100%);
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #fe7e17;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 38px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
