.privacy-body {
  .header-bg-wrapper {
    background-image: none;
  }

  .menu-icon {
    fill: #ff8a00;
  }
}

.policy-section {
  background: #392016;
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #ff8a00;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 38px;
  }
}

.policy-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff4e6;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff4e6;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff4e6;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
