.uniqueness-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 140px;
  }
}

.uniqueness-container {
  @include media(desktop) {
  }
}

.uniqueness-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 82px;
  }
}

.uniqueness-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    margin: 0;
  }
}

.uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    gap: 20px;
    max-width: 522px;
  }
}

.uniqueness-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  &:nth-child(1) {
    align-items: start;
  }

  @include media(desktop) {
  }
}

.check-icon {
  min-width: 34px;
}

.uniqueness-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;

  @include media(desktop) {
  }
}
