<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title about-title">Game Concept</h2>
    <div class="about-content-wrapper">
      <picture>
        <source
          srcset="./img/about/about-img-desk.png"
          media="(min-width: 1440px)"
          width="313"
          height="308" />
        <source
          srcset="./img/about/about-img-mob.png"
          width="255"
          height="251" />
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of the game"
          width="255"
          height="251"
          loading="lazy"
      /></picture>
      <p class="about-text">
        <span class="about-text-span">Fruit Cutter</span> is a it’s basically
        a fast-paced fruit slicing game where you’ve gotta be quick and
        precise.<br class="about-br" />
        Fruits fly onto the screen, and the player must slice them before they
        disappear, avoiding mistakes and keeping combos alive.<br
          class="about-br"
        />
        Just jump right in and start slicing — no confusing tutorials
        or complicated stuff to figure out.
      </p>
    </div>
  </div>
</section>
