<section class="section advantages-section" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-content-wrapper">
      <h2 class="section-title advantages-title">Why Us</h2>
      <picture>
        <source
          srcset="./img/advantages/advantages-img-desk.png"
          media="(min-width: 1440px)"
          width="323"
          height="580" />
        <source
          srcset="./img/advantages/advantages-img-mob.png"
          width="211"
          height="379" />
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img-mob.png"
          alt="Screenshot of the game"
          width="211"
          height="379"
          loading="lazy"
      /></picture>
      <div class="advantages-text-wrapper">
        <p class="advantages-list-text">
          Fruit Cutter is designed for players who want:
        </p>
        <ul class="advantages-list">
          <li class="advantages-list-item">
            <p class="advantages-item-text">
              Super quick gameplay that keeps you on your toes
            </p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-text">Old-school arcade vibes</p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-text">
              Easy to learn but there's actually some skill to it
            </p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-text">A game that feels instantly fun</p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-text">
              It’s ideal for casual players and arcade fans alike.
            </p>
          </li>
        </ul>
        <p class="advantages-subtitle">
          Download — Get Started<br />
          Fruit Cutter is available on Google Play.
        </p>
        <a
          class="hero-btn advantages-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.renderedideas.fruitcutter&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="243"
            height="70"
          />
        </a>
      </div>
    </div>
  </div>
</section>
