<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Benefits & Features</h2>
      <div class="features-content-wrapper">
        <p class="features-text">
          What keeps people hooked? Honestly, it’s just super satisfying —
          simple idea but you’ll find yourself constantly trying to beat your
          high score.
        </p>
        <ul class="features-list">
          <li class="features-list-item">
            <p class="features-item-text">
              Easy to start, challenging to master
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              Short sessions ideal for quick breaks
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              Satisfying visual and sound feedback
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">Starts off pretty easy</p>
          </li>
        </ul>
        <img
          class="features-img"
          src="./img/features/features-img-desk.png"
          alt="Screenshot of the game"
          width="178"
          height="148"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
