<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">How to play</h2>
    <div class="gameplay-content-wrapper">
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img-desk.png"
          media="(min-width: 1440px)"
          width="668"
          height="365" />
        <source
          srcset="./img/gameplay/gameplay-img-mob.png"
          width="335"
          height="191" />
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="191"
          loading="lazy"
      /></picture>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <svg class="pineapple-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-pineapple"></use>
          </svg>
          <p class="gameplay-item-text">
            Swipe across the screen to slice fruits
          </p>
        </li>
        <li class="gameplay-list-item">
          <svg class="pineapple-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-pineapple"></use>
          </svg>
          <p class="gameplay-item-text">
            React quickly as fruit speed increases
          </p>
        </li>
        <li class="gameplay-list-item">
          <svg class="pineapple-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-pineapple"></use>
          </svg>
          <p class="gameplay-item-text">Maintain combos for higher scores</p>
        </li>
        <li class="gameplay-list-item">
          <svg class="pineapple-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-pineapple"></use>
          </svg>
          <p class="gameplay-item-text">
            Avoid missing fruits to stay in the game
          </p>
        </li>
        <li class="gameplay-list-item">
          <svg class="pineapple-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-pineapple"></use>
          </svg>
          <p class="gameplay-item-text">
            Anyone can pick it up and play right away - just swipe and slice!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
