<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="480"
            height="396" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="243"
            height="201" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Title"
            width="243"
            height="201"
        /></picture>
        <p class="hero-text">
          Fruit Cutter - Quick reflexes, juicy combos, pure arcade fun.
        </p>
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.renderedideas.fruitcutter&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="243"
            height="70"
          />
        </a>
      </div>
    </div>
  </div>
</section>
