<section class="section uniqueness-section" id="uniqueness">
  <div class="container uniqueness-container">
    <h2 class="section-title rooms-title">Uniqueness</h2>
    <div class="uniqueness-content-wrapper">
      <picture>
        <source
          srcset="./img/uniqueness/uniqueness-img-desk.png"
          media="(min-width: 1440px)"
          width="435"
          height="552" />
        <source
          srcset="./img/uniqueness/uniqueness-img-mob.png"
          width="335"
          height="424" />
        <img
          class="uniqueness-img"
          src="./img/uniqueness/uniqueness-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="424"
          loading="lazy"
      /></picture>
      <div class="uniqueness-text-wrapper">
        <p class="uniqueness-subtitle">
          Here's what makes this game different - it's just pure, old-school
          arcade action.
        </p>
        <div class="uniqueness-text-container">
          <p class="uniqueness-text">No complicated menus or systems</p>
          <p class="uniqueness-text">
            No clutter on screen - just you and the fruit
          </p>
          <p class="uniqueness-text">
            Your skills actually matter here - no random stuff
          </p>
          <p class="uniqueness-text">Minimal distractions</p>
          <p class="uniqueness-text">
            Perfect if you're sick of overly complicated games and just want
            some good, clean fun.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
